<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta http-equiv="Content-Security-Policy"
		  content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport"
		  content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

	<title>Expenses Calc</title>

	<link rel="stylesheet" href="assets/css/app.css" type="text/css" media="all">

	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="assets/js/production.js"></script>

	<base href="/">
</head>

<body ng-cloak="" ng-controller="expensesCtrl">

<h1>
	The calc page!!!
</h1>

<p>
	<button type="button" data-test>----------------TEST--------------</button>
</p>

<p>
	<button type="button" ng-click="addItem()">Add Item</button>
	<button type="button" ng-click="deleteLastItem()">Delete last Item</button>
</p>

<ul>
	<li ng-repeat="item in items track by $index">
		{{$index}} *** {{item.n}}
	</li>
</ul>

<div>
	<button id="createFile">CREATE FILE</button>
	<button id="writeFile">WRITE FILE</button>
	<button id="readFile">READ FILE</button>
	<button id="removeFile">DELETE FILE</button>
</div>

<textarea id="textarea"></textarea>

</body>
</html>
