//@import (less) "../css/bootstrap.min.css";
@import (less) "../css/fonts.css";
@import (less) "../css/fontawesome.css";
@import (less) "../css/reset.css";
@import (less) "variables.less";
@import (less) "common.less";
//@import (less) "../css/app.css";



@keyframes hiddenWithDelay {
	0% { visibility: visible; }
	100% { visibility: hidden; }
}


* {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased; }

html, body {
//	-webkit-user-select: none;
//	-webkit-touch-callout: none;
	height: 100%;
}
html {
	font: normal 14px/16px RobotoSlab;
}
body {
	overflow: auto; -webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	background: @brand-light;
	font-size: 1rem;

	@media only screen and (max-width: ((@mobile - 1))) {
		font-size: 1.2rem;
	}

	&[data-upload-status="0"] .status-line::before { background: @pending; }
	&[data-upload-status="1"] .status-line::before { background: @success; }
	&[data-upload-status="2"] .status-line {
		&::before { background: @warning; }
		+ i { transform: rotate(45deg); }
	}

	&:not(.open-menu) nav {
		animation: hiddenWithDelay @delay 1 steps(1,end) forwards;
	}
	&.open-menu nav {
		visibility: visible;
		transform: translateX(0);

		.active > li,
		.open > .section-title {
			visibility: visible;
		}
	}

	&:not(.open-aside) aside {
		animation: hiddenWithDelay @delay 1 steps(1,end) forwards;
	}
	&.open-aside aside {
		visibility: visible;
		transform: translateX(0);
	}
}

header {
	z-index: @z-nav;
	position: fixed; top: 0; left: 0;
	transform: translateX(0);
	width: 100%;
	outline: 2px solid @brand-light;

	.head {
		height: 44px;
		padding: 2px 2px 0;
		background: @brand-light;
		color: @white;

		h1, h2 {
			padding-right: 5px;
			box-sizing: border-box;
			line-height: 24px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		h1 {
			top: 0;
			padding-left: 6px;
			font-size: 1rem;

			@media only screen and (min-width: @mobile) {
				flex-shrink: 0;
			}
		}
		h2 {
			bottom: 0;
			margin-top: -8px;
			padding-left: 12px;
			text-align: center;

			@media only screen and (min-width: @mobile) {
				margin-top: 9px;
			}
		}
		.title {
			display: flex;
			flex-direction: column;
			margin-top: 4px;
			height: 38px;
			overflow: hidden;
			background: @brand-strong;

			@media only screen and (min-width: @mobile) {
				flex-direction: row;
			}
		}
		.separator {
			border-left: 2px solid @brand-light;
		}
	}
}
nav {
	z-index: @z-nav;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 320px;
	overflow: hidden;
	background: @brand-strong;
	outline: 2px solid @brand-light;
	border-left: 2px solid @brand-strong;
	transform: translateX(-101%);
	transition: transform @delay;

	.nav-head {
		flex-shrink: 0;

		.photo {
			width: 44px;
		}
	}
	.nav-body {
		flex-grow: 1;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.section {
		z-index: 1;
		position: absolute;
		top: 0;
		min-height: 100%;
		width: 100%;
		padding-top: 44px;
		padding-right: 2px;
		box-sizing: border-box;
		transform: translateX(100%);
		transition: transform @delay;

		&::before {
			content: "";
			position: absolute;
			top: 44px;
			right: 0;
			bottom: 0;
			left: 0;
			background: @brand-strong;
		}

		&:not(.open),
		&:not(.active) {
			> li:not(.section-title) {
				animation: hiddenWithDelay @delay 1 steps(1,end) forwards;
			}
		}
		&.open {
			transform: translateX(0);

			&[data-level="1"] > .section-title { left: 0; }
			&[data-level="2"] > .section-title { left: 46px; }
			&[data-level="3"] > .section-title { left: 94px; }
			&[data-level="4"] > .section-title { left: 140px; }

			> .section-title {
				display: flex;
				outline: 2px solid @brand-strong;
			}
		}
		> li {
			visibility: hidden;

			&:not(.section-title) {
				> .btn {
					width: 100%;
					text-align: left;
				}
			}
		}
	}
	.section-title {
		position: absolute;
		right: 2px;
		top: 0;
		height: 44px;
		background: @brand-light;

		> .btn {
			z-index: 2;
			background: transparent;
			border-color: transparent;
		}
	}
}

aside {
	z-index: @z-aside;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 320px;
	padding-top: 46px;
	box-sizing: border-box;
	overflow: hidden;
	background: @brand-strong;
	outline: 2px solid @brand-light;
	border-left: 2px solid @brand-strong;
	border-right: 2px solid @brand-strong;
	transform: translateX(101%);
	transition: transform @delay;

	@media only screen and (min-width: @mobile) {
		width: 400px;
	}

	&.edit-mode {
		.active {
			background: @white;
		}
		.view-mode {
			display: none;
		}
	}
	&:not(.edit-mode) .edit-mode {
		display: none;
	}

	.aside-head {
		flex-shrink: 0;
		background: @brand-light;
		border-top: 4px solid @brand-strong;
	}
	.aside-body {
		flex-grow: 1;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		padding-bottom: 7px;
		border-top: 7px solid @brand-strong;

		> ul {
			position: relative;

			&::before,
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
				top: 0;
				bottom: 0;
				border-left: 7px solid @brand-strong;
			}
			&::before { left: 0; }
			&::after { right: 0; }
		}
	}
	.account {
		position: relative;
		margin: 0 5px;

		&::before,
		&::after {
			content: "";
			z-index: 1;
			position: absolute;
			left: 0;
			right: 0;
			border-top: 2px solid @brand-strong;
		}
		&::before { top: 0; }
		&::after { bottom: 0; }

		&.active {

			.btn {
				background: @white;
				color: @brand-strong;
			}
			.edit-mode {
				border-color: transparent;
			}
		}

		> .flex-grow {
			overflow: hidden;
		}
		.btn,
		.text-input {
			width: 100%;
		}
	}
}

.three-window-lt {
	@windowMinWidth: 500px;
	@winIndent: 20px;
	@winBorder: 4px;
	@winHeader: 44px;

	position: absolute; top: 46px; right: 0; bottom: 0; left: 0;
	min-height: 380px;
	background: @brand-light;

	@media only screen and (max-width: (@mobile - 1)) {
		display: flex;
		flex-direction: column;
		position: static;
		min-height: 100vh;
		padding-top: 46px;
		box-sizing: border-box;
	}

	&[data-active-window="1"] .header-lt li:nth-child(1),
	&[data-active-window="2"] .header-lt li:nth-child(2),
	&[data-active-window="3"] .header-lt li:nth-child(3) {
		.btn {
			background: @white;
			color: @brand-strong;
		}
	}
	&[data-active-window="1"] .windows-lt > .left-lt,
	&[data-active-window="2"] .windows-lt > .center-lt,
	&[data-active-window="3"] .windows-lt > .right-lt {
		z-index: 3;
		display: block;

		+ li { z-index: 2; }
		.title-lt {
			transform: translateY(0);
		}
	}

	> .header-lt {
		z-index: @z-mobile-head;
		position: sticky;
		top: 46px;
		margin-bottom: -8px;
		padding-bottom: 8px;
		overflow: hidden;

		@media only screen and (min-width: @mobile) {
			display: none;
		}

		&::before {
			position: absolute;
			left: 0;
			right: 0;
			bottom: (@winBorder * 2);
			border-top: 2px solid @brand-light;

			@media only screen and (max-width: (@middle-mobile - 1)) {
				content: "";
			}
		}
		&::after {
			position: absolute;
			left: 2px;
			right: 2px;
			bottom: -@winBorder;
			height: (@winBorder * 2);
			border-top: @winBorder solid @brand-strong;
			border-radius: (@winBorder * 2);

			@media only screen and (max-width: (@middle-mobile - 1)) {
				content: "";
			}
		}

		ul {
			padding: 2px 1px;
			background: @brand-light;
		}
		li {
			width: 33.33%;
			padding: 0 1px;
			box-sizing: border-box;
		}
		.btn {
			width: 100%;
		}
	}
	.windows-lt {
		position: absolute; top: 0; right: @winIndent; bottom: 0; left: 20px;

		@media only screen and (min-width: (@windowMinWidth * 3)) {
			left: 0;
		}
		@media only screen and (max-width: (@mobile - 1)) {
			position: static;
			flex-grow: 1;
			padding: 0 @winIndent 0;
		}
		@media only screen and (max-width: (@middle-mobile - 1)) {
			padding: 0 2px 2px;
		}

		> li {
			z-index: 1;
			position: absolute; top: 0;
			height: 100%;
			width: 33.33%;
			min-width: @windowMinWidth;
			padding: (@winIndent + @winHeader - @winBorder) 0 @winIndent 0;
			box-sizing: border-box;
			transition: transform .2s;

			@media only screen and (min-width: (@windowMinWidth * 3)) {
				padding-left: @winIndent;
			}
			@media only screen and (max-width: (@mobile - 1)) {
				display: none;
				position: relative;
				width: auto;
				min-width: 0;
			}
			@media only screen and (max-width: (@middle-mobile - 1)) {
				padding: 0;
			}

			&::before {
				position: absolute; top: (@winIndent + @winHeader); right: -@winBorder; bottom: (@winIndent - @winBorder); left: -@winBorder;
				border: @winBorder solid @brand-light;
				border-radius: 0 0 (@winBorder * 3) (@winBorder * 3);

				@media only screen and (min-width: @middle-mobile) {
					content: "";
				}
				@media only screen and (min-width: (@windowMinWidth * 3)) {
					left: (@winIndent - @winBorder);
				}
			}
			&::after {
				z-index: -1;
				position: absolute; top: (@winIndent * 2 + @winHeader); right: (-@winBorder - @winBorder / 2); bottom: (@winIndent + @winBorder); left: (-@winBorder - @winBorder / 2);
				border: (@winBorder / 2) solid @brand-strong; border-top: 0; border-bottom: 0;

				@media only screen and (min-width: @mobile) and (max-width: (@windowMinWidth * 3 - 1)) {
					content: "";
				}
			}
			&:first-child::after {
				border-left: 0;
			}
			&:last-child::after {
				border-right: 0;
			}
			&:hover {
				.title-lt {
					@media only screen and (max-width: (@windowMinWidth * 3 - 1)) {
						transform: translateY(@winIndent);
					}
				}
			}

			&.left-lt {
				left: 0;

				> .window-lt {
					background: @low-green;
				}
			}
			&.center-lt {
				position: relative;
				margin: auto;

				> .window-lt {
					background: @low-yellow;
				}
			}
			&.right-lt {
				right: 0;

				> .window-lt {
					background: @low-red;
				}
			}
		}
	}
	.title-lt {
		z-index: 1;
		position: absolute; left: -@winBorder; right: -@winBorder; top: (@winIndent - @winBorder);
		height: @winHeader;
		line-height: 42px;
		border: @winBorder solid @brand-light;
		border-bottom: 0;
		border-radius: (@winBorder * 2) (@winBorder * 2) 0 0;
		background: @brand-strong;
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: bold;
		color: @white;
		transform: translateY(@winHeader - @winBorder * 2);

		@media only screen and (max-width: (@middle-mobile - 1)) {
			display: none;
		}
		@media only screen and (min-width: @mobile) {
			transition: transform .2s;
		}
		@media only screen and (min-width: (@windowMinWidth * 3)) {
			left: (@winIndent - @winBorder);
			transform: translateY(0);
		}
	}
	.window-lt {
		position: relative;
		height: 100%;
		min-height: 300px;
		box-sizing: border-box;
		border: @winBorder solid @brand-strong;
		border-radius: 0 0 (@winBorder * 2) (@winBorder * 2);
		background: white;
		overflow-y: auto;

		@media only screen and (max-width: (@middle-mobile - 1)) {
			border-radius: (@winBorder * 2);
		}
	}
}

.section-head {
	padding: @padding;

	.border-bottom {
		border-bottom: 1px solid @black;
	}
}

.section-body {

}

.participant-head {
	padding: @padding 0;
	background: @brand-strong;

	.flex-grow {
		overflow: hidden;
	}
	.text-input {
		width: 100%;
	}
}

.participant-body {
	padding: (@padding * 2) 0;
}


.expenses-group {
	> li + li {
		margin-top: (@padding * 4);
		padding-top: (@padding * 4);
		border-top: 2px dashed @brand-strong;
	}
	.text-field {
		display: block;
		min-width: 44px;
		box-sizing: border-box;
		text-align: right;
	}
}

.expenses {
	padding-top: (@padding * 4);
	padding-left: (@padding * 4);
}

.expense {
	overflow: hidden;

	+ .expense {
		padding-top: (@padding * 4);
	}
	.expense-data + .expense-data {
		margin-top: @padding;
	}
	.expense-name {
		overflow: hidden;
	}
	.number-input {
		width: 100%;
	}
}

footer {
	//	height: 50px;
	//	margin-top: -50px;
}