.guide {
  padding: 30px;
  box-sizing: border-box;
}
.guide-list {
	> li {
		display: flex; flex-wrap: wrap;
		margin-bottom: 10px;

		> * {
			padding: 10px;
		}
	}
}


.tooltip {
	z-index: @z-tooltip;
	position: absolute; left: 20%; top: 80%;
	padding: 0 5px;
	line-height: 20px;
	background: white;
	border: 1px solid @black; border-radius: 0 2px 2px 2px;
	color: black; font-size: 0.8rem;

	&::before,
	&::after {
		content: "";
		position: absolute; left: 0; top: -7px;
		height: 0; width: 0;
		border: 5px solid @white; border-top-color: transparent; border-right-color: transparent;
	}
	&::before {
		left: -1px; top: -9px;
		border-width: 4px; border-left-color: @black; border-bottom-color: @black;
	}
}
.btn {
	position: relative;
	min-height: 44px; min-width: 44px; line-height: 40px;
	padding: 0 10px;
	overflow: visible;
	box-sizing: border-box;
	background: @white;
	border: 2px solid @brand-strong; border-radius: 4px;
	font-size: 0;
	color: @brand-strong;
	cursor: pointer;

	&:focus {
		outline: none;

		&::after {
			content: "";
			position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px;
			border: 1px dashed; border-radius: inherit;
		}
	}
	&.solid {
		background: @brand-strong;
		color: @white;
	}

	i {
		vertical-align: middle;
		font-size: 22px;

		+ b { margin-left: 10px; }
	}
	b {
		vertical-align: middle;
		text-transform: uppercase;
		font-family: RobotoSlab; font-size: 1.2rem; font-weight: bold;
	}
}
label.text-input {
	position: relative;
	display: inline-block;
	height: 44px; max-width: 100%;
	line-height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid @brand-strong;
	background: @white;
	font-size: 0;
	cursor: text;

	&::before {
		content: "";
		z-index: 1;
		position: absolute; bottom: 0; left: 0; right: 0;
		height: 8px;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	&:hover input {
		transform: translateY(0);

		+ b { transform: translateY(0); }
	}

	input {
		display: block;
		margin: 0; padding: 0 5px;
		height: 100%; width: 100%;
		box-sizing: border-box;
		border: none; outline: none;
		vertical-align: top;
		font-family: inherit; font-size: 1rem;
		transform: translateY(-40px);
		transition: transform @delay;

		&:focus {
			transform: translateY(0);

			+ b { transform: translateY(0); }
		}
	}
	b {
		display: inline-block;
		width: 100%; min-width: 100px;
		padding: 3px 5px;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		font-size: 1rem;
		word-wrap: break-word;
		transform: translateY(-40px);
		transition: transform @delay;
	}
}
label.text-select {
	position: relative;
	display: inline-block;
	height: 44px; max-width: 100%;
	padding-right: 26px;
	line-height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid @brand-strong;
	background: @white;
	font-size: 0;
	cursor: text;

	&::before {
		content: "";
		z-index: 1;
		position: absolute; bottom: 0; left: 0; right: 0;
		height: 8px;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	&::after {
		.icon-font();
		content: "\f0dd";
		position: absolute; top: 2px; right: 8px;
		line-height: 1;
		color: @brand-strong;
		font-size: 26px;
	}

	&.currency {
		b {
			min-width: 0;
			white-space: nowrap;
			font-size: 18px;
		}
	}

	select {
		z-index: 1;
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		height: 100%; width: 100%;
		box-sizing: border-box;
		border: none; outline: none;
		opacity: 0;
		font-family: inherit;

		&:focus {
			+ b::before {
				content: "";
				z-index: 1;
				position: absolute; top: 0; right: 0; bottom: 0; left: 0;
				border: 1px solid @brand-strong;
			}
		}
	}
	option {
		font-family: inherit; font-size: 1rem; color: @black;

		&[disabled] { color: @gray; }
	}
	b {
		display: inline-block;
		width: 100%; min-width: 100px;
		padding: 3px 5px;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		font-size: 1rem;
		word-wrap: break-word;
	}
}
label.checkbox {
	display: inline-block;
	position: relative;
	padding: 0 4px 0 40px;
	box-sizing: border-box;
	min-height: 44px; min-width: 44px;
	line-height: 44px;
	font-size: 0;
	cursor: default;

	&.thin {
		min-height: 30px;
		line-height: 30px;

		i::before { top: 2px; }
	}

	input {
		position: absolute;
		opacity: 0;

		&:checked + i::before {
			content: "\f14a";
		}
		&:focus + i::after {
			content: "";
		}
	}
	i {
		float: left;
		.icon-font();
		color: @brand-strong;
		font-size: 26px;

		&::before {
			content: "\f0c8";
			position: absolute; top: 9px; left: 11px;
			line-height: 1;
		}
		&::after {
			position: absolute; top: 0; right: 0; bottom: 0; left: 0;
			border: 1px dashed; border-radius: 4px;
		}
	}
	b {
		display: inline-block;
		width: 100%; min-width: 100px;
		padding: 8px 0;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		font-size: 1rem;
		word-wrap: break-word;
	}
}