*, ::after, ::before {
	box-sizing: content-box; // rewrite styles of the bootstrap
}

.guide {
  padding: 30px;
  box-sizing: border-box;
}
.guide-list {
	> li {
		display: flex; flex-wrap: wrap;
		margin-bottom: 10px;

		> * {
			padding: 10px;
		}
	}
}
.background {
	background: @brand-strong;
}




.no-mobile {
	@media only screen and (max-width: (@mobile - 1)) {
		display: none !important;
	}
}
.no-middle-mobile {
	 @media only screen and (max-width: (@middle-mobile - 1)) {
		 display: none !important;
	 }
 }
.only-mobile {
	@media only screen and (min-width: @mobile) {
		display: none !important;
	}
}
.only-middle-mobile {
	@media only screen and (min-width: @middle-mobile) {
		display: none !important;
	}
}

.block {
	display: block !important;
}
.hidden {
	display: none !important;
}
.float-right {
	float: right !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.text-left {
	text-align: left !important;
}
.text-justify {
	text-align: justify !important;
}
.width100 {
	width: 100%;
}

a {
	color: @brand-strong;

	&.solid {
		color: @brand-light;

		&:hover,
		&:active,
		&:focus {
			color: @white;
		}
	}
	
	&:hover,
	&:active,
	&:focus {
		color: @black;
	}
}

button {
	user-select: none;
}

.clearfix {
	&::before,
	&::after {
		display: table;
		line-height: 0;
		content: "";
	}
	&::after {
		clear: both;
	}
}

.flex {
	display: flex;

	&.flex-wrap {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.to-right-content {
		justify-content: flex-end;
	}
	&.center-align {
		align-items: center;
	}

	> .flex-grow {
		flex-grow: 1;

		> label {
			width: 100%;
		}
	}
	> .flex-shrink {
		flex-shrink: 0;
	}
	> .flex-hidden {
		overflow: hidden;
	}
}

.s-p0 { .side-padding(@padding / 2); }
.s-p1 { .side-padding(@padding); }
.s-p2 { .side-padding(@padding * 2); }
.s-p3 { .side-padding(@padding * 3); }
.s-p4 { .side-padding(@padding * 4); }

.small-bold {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.tooltip {
	z-index: @z-tooltip;
	position: absolute; left: 20%; top: 80%;
	padding: 0 5px;
	line-height: 20px;
	background: white;
	border: 1px solid @black; border-radius: 0 2px 2px 2px;
	color: black; font-size: 0.8rem;

	&::before,
	&::after {
		content: "";
		position: absolute; left: 0; top: -7px;
		height: 0; width: 0;
		border: 5px solid @white; border-top-color: transparent; border-right-color: transparent;
	}
	&::before {
		left: -1px; top: -9px;
		border-width: 4px; border-left-color: @black; border-bottom-color: @black;
	}
}

@keyframes attention-icon {
	0% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(0.5);
	}
}
@keyframes attention-text {
	0% {
		text-decoration: none;
	}
	50% {
		text-decoration: underline;
	}
}

.help-text {
	z-index: @z-tooltip;
	position: relative;
	display: inline-block;

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		height: 15px;
		width: 1px;
		border: 1px solid @strong-gray;
		border-top: 0;
		border-bottom: 0;
		background: @white;
	}
	&::after {
		content: "";
		position: absolute;
		height: 9px;
		width: 9px;
		margin: -10px -4px;
		background: @white;
		border-radius: 50%;
		border: 1px solid @strong-gray;
	}

	&:not(.bottom) {
		&::before, &::after { top: -14px; }
	}
	&:not(.right) {
		&::before, &::after { left: 21px; }
	}
	&.attention {
		animation: attention-text 1s infinite;

		.fas:first-child {
			animation: attention-icon 1s infinite;
		}
	}
	&.bottom {
		&::before, &::after { bottom: -14px; }
	}
	&.right {
		&::before, &::after { right: 21px; }
	}
	&.no-arrow {
		z-index: 0;

		&::before,
		&::after {
			display: none;
		}
	}
	&.small {
		> b {
			font-size: 0.8rem;
			line-height: 0.9rem;
			padding: 2px 4px;
		}
	}

	> b {
		display: block;
		background: @white;
		padding: (@padding * 2);
		border: 1px solid @strong-gray;
		border-radius: (@padding * 2);
		font-size: 1rem;
		color: @strong-gray;
	}

	.debt-help {
		overflow: hidden;
		margin-top: 6px;

		> li {
			position: relative;
			padding-top: 26px;
			text-indent: 9px;
			font-weight: bold;

			&::after {
				content: "ИЛИ";
				position: absolute;
				top: 0;
				left: 0;
				padding-left: 10px;
				line-height: 26px;
				font-weight: normal;
			}

			&:first-child {
				margin-top: -26px;
			}
		}
	}
}

.btn {
	display: inline-block;
	position: relative;
	min-height: 44px; min-width: 44px; line-height: 40px;
	padding: 0 10px;
	overflow: visible;
	box-sizing: border-box;
	background: @white;
	border: 2px solid @brand-strong;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 0;
	color: @brand-strong;
	cursor: pointer;

	&.success {
		border-color: @success-dark;
		color: @success-dark;
	}
	&.warning {
		border-color: @warning-dark;
		color: @warning-dark;
	}
	&:not(.no-shadow) {
		border-right-color: @black;
		border-bottom-color: @black;

		&.pressed,
		&:active {
			border: 2px solid @brand-strong;
			border-top-color: @black;
			border-left-color: @black;

			&.success {
				border-right-color: @success-dark;
				border-bottom-color: @success-dark;
			}
			&.warning {
				border-right-color: @warning-dark;
				border-bottom-color: @warning-dark;
			}
		}
	}
	&:focus {
		outline: none;
		box-shadow: none; // rewrite styles of the bootstrap

		&::after {
			content: "";
			position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px;
			border: 1px dashed; border-radius: inherit;
		}
	}
	&[disabled] {
		cursor: default;

		i, b { opacity: 0.5; }
	}
	&.solid {
		background: @brand-strong;
		color: @white;

		&.success {
			background: @success-dark;
			color: @white;
		}
		&.warning {
			background: @warning-dark;
			color: @white;
		}
		&.border {
			border-color: @brand-light;

			&:not(.no-shadow) {
				border-right-color: @black;
				border-bottom-color: @black;

				&:active {
					border-color: @brand-light;
					border-top-color: @black;
					border-left-color: @black;
				}
			}
		}
	}
	&.toggle {
		height: 44px;
		border-radius: 22px;

		&::before {
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			box-sizing: border-box;
			border: 20px solid rgba(0,0,0,0.2);
			border-right-color: transparent;
			border-bottom-color: transparent;
			border-radius: 20px;
		}
		&.pressed {
			&::before { content: ""; }

			i { transform: scale(0.8); }
		}
	}
	&.rotated-icon i {
		transform: scaleY(-1);
	}

	i {
		width: 20px;
		vertical-align: middle;
		text-align: center;
		font-size: 22px;
		transition: transform @delay;

		+ b {
			margin-left: 10px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	b {
		display: inline-block;
		padding: 5px 0;
		max-width: 100%;
		line-height: 1.2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: middle;
		text-transform: uppercase;
		word-wrap: break-word;
		font-family: RobotoSlab;
		font-size: 1.2rem;

		&.small {
			font-size: 0.9rem;
		}
		&.status-line {
			display: inline-block;
			position: relative;
			bottom: 3px;
			max-width: 40px;
			line-height: 1;
			overflow: visible;

			&::before {
				content: "";
				position: absolute;
				left: -1px;
				right: -1px;
				bottom: 0;
				height: 3px;
				border-radius: 2px;
			}
		}

		+ i,
		+ b {
			margin-left: 5px;
		}
	}
}

label {
	vertical-align: top;
	color: @black;

	&.bold {
		font-weight: bold;
	}
	&.head {
		//text-transform: uppercase;
		font-weight: bold;
	}

	&.toggle {
		position: relative;
		display: inline-block;
		height: 44px; width: 44px;
		padding: 8px 6px;
		box-sizing: border-box;
		cursor: pointer;

		&::before,
		&::after {
			z-index: 1;
			position: absolute; top: 14px;
			.icon-font();
			line-height: 15px;
			color: @brand-strong;
			font-size: 12px;
			content: "\f00c";
		}
		&::after {
			right: 7px;
			color: @strong-gray;
			content: "\f00d";
		}

		&.solid {
			&::before,
			&::after {
				color: @white;
			}

			input:checked + i {
				background: @brand-strong;
				border-color: @white;

				&::before {
					background: @white;
				}
				&::after {
					border-color: @brand-strong;
				}
			}

			i {
				border-color: @white;
				background: @strong-gray;

				&::before {
					background: @white;
				}
				&::after {
					border-color: @strong-gray;
				}
			}
		}

		input {
			z-index: -1;
			position: absolute;
			outline: none;
			opacity: 0;

			&:checked + i {
				border-color: @brand-strong;

				&::before {
					background: @brand-strong;
					transform: translateX(16px);
				}
				&::after {
					transform: translateX(16px);
				}
			}
			&:focus + i {
				border-width: 3px;

				&::before,
				&::after {
					margin: 1px;
				}

			}
		}
		i {
			position: absolute; left: 0;
			height: 28px; width: 100%;
			box-sizing: border-box;
			border: 2px solid @strong-gray;
			border-radius: 6px;
			background: @white;
			transition: border-color @delay;

			&::before {
				content: "";
				z-index: 2;
				position: absolute; top: 0px; bottom: 0px;
				width: 20px;
				margin: 2px;
				box-sizing: border-box;
				border-radius: 4px;
				background: @strong-gray;
				transition: transform @delay, background @delay;
			}
			&::after {
				content: "";
				z-index: 3;
				position: absolute; top: 5px; left: 5px;
				height: 10px; width: 2px;
				margin: 2px;
				border: 4px double @white; border-top: none; border-bottom: none;
				transition: transform @delay;
			}
		}
	}
}

.text-input,
.number-input {
	position: relative;
	display: inline-block;
	height: 44px; max-width: 100%;
	line-height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid @brand-strong;
	border-radius: 4px;
	background: @white;
	font-size: 0;
	cursor: text;

	&::before {
		content: "";
		z-index: 1;
		position: absolute; bottom: 0; left: 0; right: 0;
		height: 8px;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	&:not([disabled]):hover {
		input:not([disabled]),
		textarea:not([disabled]) {
			transform: translateY(0);

			+ b { transform: translateY(200%); } // it was 40px
		}
	}

	&[disabled] {
		height: auto;
		min-height: 44px;
		line-height: 42px;
		border-width: 1px;
		background: transparent;

		&::before {
			display: none;
		}

		input,
		textarea {
			display: none;
		}
		textarea + b {
			padding: 4px 8px;
			margin: 0 -2px;
		}
		i {
			display: inline-block;
			height: 10px;
			width: 20px;

			&::before {
				position: absolute;
				top: 1px;
				font-size: 16px;
			}
		}
	}

	&.not-fixed-height {
		height: auto;
		min-height: 44px;

		&::before {
			display: none;
		}

		> input {
			height: 40px;
		}
	}

	&.big-font {
		input, textarea, b {
			font-size: 1.2rem;
		}
	}

	&.break-all b {
		word-break: break-all;
	}

	input,
	textarea {
		position: absolute;
		margin: 0; padding: 0 5px;
		height: 100%; width: 100%;
		line-height: 40px;
		box-sizing: border-box;
		border: none; outline: none;
		vertical-align: top;
		text-align: inherit;
		text-transform: inherit;
		font-family: inherit; font-size: 1rem; font-weight: inherit;
		-moz-appearance: textfield;
		transform: translateY(-100%); // it was 40px   (-40px)
		transition: transform @delay;

		&:focus {
			transform: translateY(0);

			+ b { transform: translateY(200%); } // it was 40px
		}
		&::-ms-clear {
			display: none;
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::placeholder {
			font-size: 0.9rem;
			font-weight: normal;
			color: @gray;
		}

		&[disabled] {
			+ b {
				z-index: 2;
				position: relative;
				overflow: visible;
				transform: translateY(0);

				&::before {
					content: "";
					z-index: -1;
					position: absolute;
					top: -40px;
					right: 0;
					bottom: -40px;
					left: 0;
					background: @disabled-gray;
				}
			}
		}
	}
	textarea {
		padding: 3px 5px;
		overflow: hidden;
		line-height: 1;
		resize: none;
	}
	b {
		display: inline-block;
		width: 100%;
		min-width: 44px;
		padding: 3px 5px;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		text-align: inherit;
		font-size: 1rem;
		word-wrap: break-word;
		transform: translateY(0);
		transition: transform @delay;

		&:empty::before {
			content: attr(data-placeholder);
			font-size: 0.9rem;
			font-weight: normal;
			color: @gray;
		}
	}
	i {
		display: none;
	}
}

.number-input {
	text-align: right;

	&[disabled] s {
		display: block;
	}

	input,
	b {
		line-height: 15px;
		font-size: 1.3rem;
		font-weight: bold;
	}
	s {
		display: none;
		margin-left: 2px;
		vertical-align: middle;
		white-space: nowrap;
		font-size: 0.9rem;
		text-transform: uppercase;
		text-decoration: underline;
	}
}

.text-select {
	position: relative;
	display: inline-block;
	height: 44px; max-width: 100%; min-width: 44px;
	padding-right: 26px;
	line-height: 40px;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid @brand-strong;
	border-radius: 4px;
	background: @white;
	font-size: 0;
	cursor: text;

	&::before {
		content: "";
		z-index: 1;
		position: absolute; bottom: 0; left: 0; right: 0;
		height: 8px;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	&::after {
		.icon-font();
		content: "\f0dd";
		position: absolute; top: 2px; right: 8px;
		line-height: 1;
		color: @brand-strong;
		font-size: 26px;
	}
	&[disabled] {
		padding-right: 0;
		border-width: 1px;
		background: transparent;

		&::before,
		&::after {
			display: none;
		}

		select {
			visibility: hidden;
		}

		&.icons,
		&.currency {
			b {
				padding-left: 5px;
			}
		}
	}

	&.icons {
		b {
			min-width: 0;
			padding-left: 8px;
			text-align: center;
		}
		i {
			font-size: 1.7rem;
		}
	}
	&.currency {
		b {
			min-width: 0;
			padding-left: 8px;
			text-align: center;
			white-space: nowrap;
			font-size: 18px;
		}
		option {
			text-transform: uppercase;
		}
	}

	select {
		z-index: 2;
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;
		height: 100%; width: 100%;
		box-sizing: border-box;
		border: none; outline: none;
		opacity: 0;
		font-family: inherit;

		&:focus {
			+ b::before {
				content: "";
				z-index: 1;
				position: absolute; top: 0; right: 0; bottom: 0; left: 0;
				border: 1px solid @brand-strong;
			}
		}

		&[disabled] {
			+ b {
				z-index: 2;
				position: relative;
				overflow: visible;
				margin-right: -22px;

				&::before {
					content: "";
					z-index: -1;
					position: absolute;
					top: -40px;
					right: -26px;
					bottom: -40px;
					left: 0;
					background: @disabled-gray;
				}
			}
		}
	}
	option {
		font-family: inherit; font-size: 1rem; color: @black;

		&[disabled] { color: @strong-gray; }
	}
	b {
		display: inline-block;
		width: 100%;
		//min-width: 100px;
		padding: 3px 5px;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		font-size: 1rem;
		word-wrap: break-word;
	}
}

.complex-input {
	display: flex;

	&.text-select {
		padding-right: 0;

		> label {
			padding-right: 26px;

			&.currency > b {
				min-width: 0;
				padding-left: 8px;
				text-align: center;
				white-space: nowrap;
				font-size: 18px;
			}
		}
	}

	> .text-field:first-child {
		padding-left: 5px;
		min-height: 40px;
		line-height: 40px;
		text-align: right;
		color: @brand-strong;

		> b {
			min-width: 0;
			line-height: 1;
			text-transform: none;
			text-decoration: none;
			font-size: 0.9rem;
			font-weight: bold;
		}
	}

	> label {
		position: relative;
		flex-grow: 1;
		overflow: hidden;
	}
}

.checkbox {
	display: inline-block;
	position: relative;
	padding: 0 4px 0 40px;
	box-sizing: border-box;
	min-height: 44px; min-width: 44px;
	overflow: hidden;
	line-height: 44px;
	font-size: 0;
	cursor: default;

	&.decoration {
		b {
			text-decoration: line-through;
		}
	}
	&.thin {
		min-height: 30px;
		line-height: 30px;
		padding-left: 30px;

		i {
			margin-top: 4px;
			margin-left: -24px;

			&::before {
				top: 2px;
				left: 3px;
			}
		}
	}
	&.line-through input:not(:checked) + i {
		color: @gray;
		background-color: @gray;
	}

	input {
		position: absolute;
		left: -44px;
		opacity: 0;
		user-select: none;

		&:checked {
			+ i { background-color: transparent; }
			~ b { text-decoration: none; }
		}
		&:focus + i::after {
			content: "";
		}

		&[disabled] {
			&:checked {
				+ i {
					opacity: 1;
					background: transparent;
					color: @strong-gray;
				}
				~ b {
					color: @strong-gray;
				}
			}

			+ i {
				opacity: 0.7;
				background: @gray;
				color: @gray;
			}
			~ b {
				color: @gray;
			}
		}
	}
	i {
		float: left;
		margin-top: 11px;
		margin-left: -28px;
		width: 20px;
		height: 20px;
		background-color: fade(@brand-strong, 95);
		.icon-font();
		color: @brand-strong;
		font-size: 26px;

		&::before {
			content: "\f14a";
			position: absolute; top: 9px; left: 11px;
			line-height: 1;
		}
		&::after {
			position: absolute; top: 0; right: 0; bottom: 0; left: 0;
			border: 1px dashed; border-radius: 4px;
		}
	}
	b {
		position: relative; // без этого в FF чекбокс не сразу реагирует на изменение состояния
		display: inline-block;
		width: 100%;
		padding: 8px 0;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1;
		vertical-align: middle;
		font-size: 1rem; font-weight: bold;
		color: @brand-strong;
		word-wrap: break-word;
	}
}

.mode-toggle {
	display: flex;
	position: relative;
	min-height: 44px;

	input {
		z-index: 3;
		position: absolute; top: 0; left: 50%;
		width: 44px; height: 44px;
		margin: 0 0 0 -22px;
		outline: none;
		opacity: 0;
		cursor: pointer;

		&:checked {
			+ i::before,
			+ i::after {
				transform: translateX(16px);
			}
			~ div {
				&:nth-of-type(1) {
					color: @black;

					> b {
						background: transparent;
					}
				}
				&:nth-of-type(2) {
					color: @white;

					> b {
						background: @brand-strong;
					}
				}
			}
		}
		&:focus + i {
			border-width: 3px;

			&::before,
			&::after {
				margin: 1px;
			}
		}
		&[disabled] {
			+ i {
				border-color: @gray;

				&::before {
					background: @gray;
				}
			}
		}
	}
	i {
		position: absolute; top: 8px; left: 50%;
		height: 28px; width: 44px;
		margin-left: -22px;
		box-sizing: border-box;
		border: 2px solid @brand-strong;
		border-radius: 6px;
		background: @white;

		&::before {
			content: "";
			z-index: 2;
			position: absolute; top: 0; bottom: 0;
			width: 20px;
			margin: 2px;
			box-sizing: border-box;
			border-radius: 4px;
			background: @brand-strong;
			transition: transform 0.2s;
		}
		&::after {
			content: "";
			z-index: 2;
			position: absolute; top: 5px; left: 5px;
			height: 10px; width: 2px;
			margin: 2px;
			border: 4px double @white; border-top: none; border-bottom: none;
			transition: transform @delay;
		}
	}
	div {
		width: 50%;
		box-sizing: border-box;
		line-height: 44px;
		text-align: center;
		font-size: 0;

		&:nth-of-type(1) {
			padding-right: 30px;
			text-align: right;
			color: @white;

			> b {
				background: @brand-strong;
			}
		}
		&:nth-of-type(2) {
			padding-left: 30px;
			text-align: left;
			color: @black;
		}
	}
	b {
		display: inline-block;
		padding: 4px;
		border: 2px solid @brand-strong;
		border-radius: 4px;
		line-height: 12px;
		vertical-align: middle;
		font-size: 14px;
	}
}

.text-field {
	position: relative;
	display: inline-block;
	min-height: 44px; max-width: 100%;
	line-height: 44px;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 0;
	color: @black;

	&.solid {
		background: @brand-strong;
		color: @white;
	}
	&.bold {
		font-weight: bold;
	}
	&.big-font > b {
		font-size: 1.2rem;
	}
	&.title,
	&.name {
		&:not(.word-wrap) > b {
			overflow: hidden;
			line-height: 1;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> b {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	&.title > b {
		line-height: 1.1;
	}
	&.name > b {
		font-size: 1rem;
	}
	&.thin {
		min-height: 30px;
		line-height: 30px;
	}
	&.capitalize {
		text-transform: capitalize;
	}
	&.subtitle {
		display: block;
		padding: 0 16px;
		min-height: 0;
		line-height: 22px;
		overflow: hidden;

		> b {
			padding-left: 5px;
			padding-right: 5px;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-transform: uppercase;
			text-align: center;
			font-size: 0.9rem;
			font-weight: bold;
		}
	}
	&.underline > b {
		border-bottom: 1px solid @brand-strong;
	}
	&.line-through > b {
		text-decoration: line-through;
		color: @strong-gray;
	}
	&.icon > b {
		font-size: 1.4rem;
		min-width: 30px;
		text-align: center;
	}
	&.small > b {
		font-size: 0.9rem;
		line-height: 1.2;
	}

	> b {
		display: inline-block;
		width: 100%;
		padding: 3px 0;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 1.3;
		vertical-align: middle;
		font-size: 1rem;
		word-wrap: break-word;

		> em {
			display: inline-block;
			text-decoration: inherit;
			color: inherit;
			font-weight: bold;
		}
	}
	span {
		display: inline-block;
	}
}

.number-field {
	position: relative;
	display: block;
	min-height: 44px;
	max-width: 100%;
	line-height: 40px;
	overflow: hidden;
	font-size: 0;
	text-align: right;

	&.solid {
		background: @brand-strong;
		color: @white;
	}
	&.bold {
		font-weight: bold;
	}
	&.thin {
		min-height: 30px;
		line-height: 30px;

		> b {
			padding: 0;
		}
	}
	&.marker {
		line-height: 1;

		> b {
			padding-top: 18px;

			> s {
				position: absolute;
				top: 4px;
				left: 0;
				height: 12px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	&.dashed {
		> b {
			padding-bottom: 2px;
			border-bottom: 1px dashed;
			border-color: inherit;
		}
	}

	> b {
		display: inline-block;
		width: 100%;
		padding: 6px 0 2px;
		overflow: hidden;
		box-sizing: border-box;
		line-height: 0.94;
		vertical-align: middle;
		font-size: 1.1rem;
		word-wrap: break-word;

		&:first-line {
			font-size: 1.4rem;
		}

		> s {
			vertical-align: middle;
			font-size: 0.9rem;
			text-decoration: underline;
		}
	}
}

.date-field {
	display: inline-block;
	height: 44px;
	width: 44px;
	line-height: 1;
	text-align: center;
	font-size: 1.1rem;

	> b {
		display: block;

		&:first-child {
			font-size: 0.9rem;
			margin-bottom: 1px;
		}
		&:last-child {
			font-weight: bold;
		}
	}
}

.currency {
	text-transform: uppercase;
	text-decoration: underline;

	b {
		text-decoration: underline;
	}
}

.multiple-field {
	display: flex;
	align-items: stretch;

	> label {
		flex-grow: 1;
		border-radius: 4px 0 0 4px;

		&[disabled] {
			height: auto;
		}

		&.no-mobile + label {
			&, &[disabled] {
				@media only screen and (max-width: (@mobile - 1)) {
					margin-left: 0;
				}
			}
		}

		+ label {
			display: block;
			margin-left: -2px;
			border-radius: 0 4px 4px 0;

			&[disabled] {
				margin-left: -1px;
			}
		}
	}
	> .min-field {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 30%;
		min-width: 44px;
	}
	> .text-select {
		&.icons,
		&.currency {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}

.line-through-text {
	text-decoration: line-through;
}