<aside class="accounts" ng-class="{'edit-mode': layout.isEditAccountsMode}">
	<ul class="aside-head flex">
		<li class="s-p2">
			<label class="toggle">
				<input type="checkbox" ng-model="layout.isEditAccountsMode">
				<i></i>
			</label>
		</li>

		<li class="flex-grow">
			<div class="text-field bold">
				<b>Режим редактирования</b>
			</div>
		</li>
	</ul>

	<div class="aside-body">

		<ul>
			<li class="account flex"
				ng-class="{'active': expCalc.settings.currentAccount == $index}"
				ng-repeat="account in expCalc.accounts track by $index">
				<div>
					<button class="btn solid edit-mode no-shadow" ng-click="removeCurrentAccount($index)">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>

				<div class="flex-grow">
					<button class="btn solid view-mode" ng-click="expCalc.settings.currentAccount = $index">
						<b>{{account.meta.title}}</b>
					</button>

					<label class="text-input edit-mode">
						<input type="text" ng-model="account.meta.title" onchange="uploadData()">
						<b>{{account.meta.title}}</b>
					</label>
				</div>
			</li>

			<li class="account edit-mode flex">
				<div>
					<button class="btn no-shadow" ng-click="createAccount()">
						<i class="fas fa-plus"></i>
					</button>
				</div>

				<div class="flex-grow s-p1">
					<div class="text-field solid">
						<b>Создать новый расчет</b>
					</div>
				</div>
			</li>
		</ul>

	</div>
</aside>

<main ng-click="layout.isOpenMenu = false; layout.isOpenAside = false;">

	<div class="three-window-lt" data-active-window="{{layout.activeWindow}}">
		<div class="header-lt">
			<ul class="flex">
				<li>
					<button class="btn no-shadow" ng-click="layout.activeWindow = 1">
						<b>1.</b>
						<i class="fas fa-list only-middle-mobile"></i>
						<b class="small no-middle-mobile">Список</b>
					</button>
				</li>

				<li>
					<button class="btn no-shadow" ng-click="layout.activeWindow = 2">
						<b>2.</b>
						<i class="fas fa-calculator only-middle-mobile"></i>
						<b class="small no-middle-mobile">Вычисление</b>
					</button>
				</li>

				<li>
					<button class="btn no-shadow" ng-click="layout.activeWindow = 3">
						<b>3.</b>
						<i class="fas fa-exchange-alt only-middle-mobile"></i>
						<b class="small no-middle-mobile">Возврат</b>
					</button>
				</li>
			</ul>
		</div>

		<ul class="windows-lt"
			ng-repeat="account in expCalc.accounts track by $index"
			ng-if="expCalc.settings.currentAccount == $index">

			<li class="left-lt step-1" ng-class="(layout.activeWindow == 1) ? 'active' : ''" ng-click="layout.activeWindow = 1">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">1. Список</div>
					<div class="s-p3">1</div>
				</div>

				<div class="window-lt">

					<div class="section-head">
						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Шаг 1:</b>
								</div>
							</li>

							<li class="flex-grow s-p2">
								<div class="text-field border-bottom">
									<b>Список участников и расходов</b>
								</div>
							</li>

							<li class="flex-shrink">
								<button class="btn solid" onclick="layoutControl.collapseAllBodiesView(this)">
									<i class="fas fa-angle-double-up"></i>
								</button>
							</li>
						</ul>

						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Всего расходов:</b>
								</div>
							</li>

							<li class="flex-grow s-p1">
								<div class="number-field bold">
									<b>{{roundOff(getAccountTotal())}}</b>
								</div>
							</li>

							<li class="s-p1">
								<div class="text-field title currency">
									<b>{{getAccountCurrency()}}</b>
								</div>
							</li>
						</ul>
					</div>

					<div class="section-body">

						<ul class="participants">
							<li class="participant"
								ng-repeat="participant in account.participants track by $index"
								ng-init="participantIndex = $index">

								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex-shrink s-p0">
											<div class="text-field solid title remove-mode-false">
												<b>{{participantIndex + 1}}.</b>
											</div>

											<button class="btn solid border warning remove-mode-true"
													ng-click="removeParticipant(participantIndex)">
												<i class="fas fa-trash-alt"></i>
												<b>{{participantIndex + 1}}.</b>
											</button>
										</li>

										<li class="flex-grow s-p0">
											<label class="text-input">
												<input type="text"
													   ng-model="participant.meta.title"
													   onchange="uploadData()">
												<b>{{participant.meta.title}}</b>
											</label>
										</li>

										<li class="flex-shrink s-p0">
											<div class="number-field solid">
												<b>
													{{roundOff(getParticipantTotal(participant))}}
													<s>{{getAccountCurrency()}}</s>
												</b>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<button class="btn solid border collapse-btn" onclick="layoutControl.toggleBodyView(this)">
												<i class="fas fa-chevron-down"></i>
											</button>
										</li>
									</ul>
								</div>

								<div class="participant-body">

									<ul class="body-view expenses s-p0">
										<li class="expense"
											ng-repeat="expense in participant.expenses track by $index"
											ng-init="expenseIndex = $index">

											<ul class="flex expense-title">
												<li class="flex-shrink expense-number s-p0">
													<div class="text-field title remove-mode-false">
														<b>{{participantIndex + 1}}.{{expenseIndex + 1}}</b>
													</div>

													<button class="btn solid warning remove-mode-true" title="Удалить этот расход"
															ng-click="removeExpense(participantIndex, expenseIndex)">
														<i class="fas fa-trash-alt"></i>
														<b>{{participantIndex + 1}}.{{expenseIndex + 1}}</b>
													</button>
												</li>

												<li class="flex-hidden flex-grow s-p0">
													<div class="multiple-field">
														<label class="text-input flex-grow" ng-disabled="expense.isPaid">
															<input type="text" ng-model="expense.title">
															<b>{{expense.title}}</b>
														</label>

														<label class="text-select icons" ng-disabled="expense.isPaid">
															<select ng-model="expense.type">
																<option ng-repeat="expensesType in expCalc.settings.expensesTypes track by $index"
																		value="{{$index}}" ng-selected="expense.type == $index">
																	{{expensesType.name}}
																</option>
															</select>
															<b>
																<i class="fas fa-{{expCalc.settings.expensesTypes[expense.type].icon}}"></i>
															</b>
														</label>
													</div>
												</li>
											</ul>

											<div data-state class="expense-data clearfix" ng-class="{'completed': completedDetails(expense)}">

												<ul class="flex expense-values">
													<li class="flex-shrink s-p0">
														<div class="date-field">
															<b>{{formatDate(expense.date, 1)}}</b>
															<b>{{formatDate(expense.date, 2)}}</b>
															<b>{{formatDate(expense.date, 3)}}</b>
														</div>
													</li>

													<li class="flex-grow flex-hidden s-p0">
														<div class="multiple-field">
															<label class="text-select currency" ng-disabled="expense.isPaid">
																<select ng-model="expense.currency"
																		ng-options="key as value for (key, value) in expCalc.settings.currencies.names">
																</select>
																<b>{{expCalc.settings.currencies.names[expense.currency].substring(0, 3)}}</b>
															</label>

															<label class="number-input flex-grow" ng-disabled="expense.isPaid">
																<input type="number" ng-model="expense.value">
																<b>{{expense.value}}</b>
															</label>
														</div>
													</li>
												</ul>

												<div class="expense-details">

													<div class="details-view">

														<ul class="members flex flex-wrap space-between">
															<li>
																<div class="text-field name thin">
																	<b>Участники:</b>
																</div>
															</li>

															<li ng-repeat="participation in expense.partList track by $index">
																<label class="checkbox decoration thin" ng-disabled="expense.isPaid">
																	<input type="checkbox"
																		   ng-model="expense.partList[$index]"
																		   ng-change="checkPartList(expense.partList, $index)">
																	<i></i>
																	<b>{{account.participants[$index].meta.title}}</b>
																</label>
															</li>
														</ul>

														<div class="details">

															<div class="text-field name thin block s-p2">
																<b class="s-p0">Подробности: (Назв./Кол./Цена)</b>
															</div>

															<ul class="flex details-item"
																ng-class="{'checked': detail.isChecked}"
																ng-repeat="detail in expense.details track by $index"
																ng-init="detailIndex = $index">
																<li class="s-p0">
																	<label class="checkbox remove-mode-false">
																		<input type="checkbox" ng-model="detail.isChecked" onchange="uploadData()">
																		<i></i>
																		<b>{{expenseIndex + 1}}.{{detailIndex + 1}}</b>
																	</label>

																	<button class="btn solid warning remove-mode-true" title="Удалить этот пункт"
																		ng-click="removeDetailsFromExpense(expense, detailIndex)">
																		<i class="fas fa-trash-alt"></i>
																		<b>{{expenseIndex + 1}}.{{detailIndex + 1}}</b>
																	</button>
																</li>

																<li class="flex-grow s-p0">
																	<div class="multiple-field">
																		<label class="text-input" ng-disabled="detail.isChecked">
																			<input type="text" ng-model="detail.title" onchange="uploadData()">
																			<b>{{detail.title}}</b>
																		</label>

																		<label class="text-input text-center min-field" ng-disabled="detail.isChecked">
																			<input type="text" ng-model="detail.qty" onchange="uploadData()">
																			<b>{{detail.qty}}</b>
																		</label>
																	</div>
																</li>

																<li class="cost s-p0">
																	<label class="number-input" ng-disabled="detail.isChecked">
																		<input type="number" ng-model="detail.value" onchange="uploadData()">
																		<b>{{detail.value}}</b>
																	</label>
																</li>
															</ul>

														</div>

													</div>

													<ul class="flex details-item details-control">
														<li class="details-buttons flex-grow s-p0">
															<button class="btn solid success new-point-btn" ng-click="addNewDetailsToExpense(expense)">
																<i class="fas fa-plus"></i>
																<b class="small">Пункт</b>
															</button>
														</li>

														<li class="details-title">
															<div class="text-field name">
																<b>Детали этого расхода</b>
															</div>
														</li>

														<li class="s-p0">
															<button class="btn solid details-btn" onclick="layoutControl.toggleDetailsView1(this)">
																<i class="fas fa-folder"></i>
																<b class="small no-middle-mobile">Детали</b>
															</button>
														</li>
													</ul>

												</div>

											</div>

											<label class="checkbox paid-out">
												<input type="checkbox" ng-model="expense.isPaid" onchange="uploadData()">
												<i></i>
											</label>

										</li>

										<li class="expense">
											<ul class="flex expense-title">
												<li class="flex-shrink expense-number s-p0">
													<button class="btn solid success" title="Новый расход"
															ng-click="addNewExpense(participant, participantIndex)">
														<i class="fas fa-plus"></i>
													</button>
												</li>

												<li class="s-p2">
													<div class="text-field name">
														<b>Добавить новый расход</b>
													</div>
												</li>
											</ul>
										</li>

									</ul>

								</div>
							</li>

							<li>
								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex-shrink s-p0">
											<button class="btn solid border success" ng-click="createParticipant()">
												<i class="fas fa-plus"></i>
											</button>
										</li>

										<li class="flex-grow s-p2">
											<div class="text-field solid name">
												<b>Добавить нового участника</b>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>

					</div>

				</div>
			</li>

			<li class="center-lt step-2" ng-class="(layout.activeWindow == 2) ? 'active' : ''" ng-click="layout.activeWindow = 2">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">2. Вычисление</div>
					<div class="s-p3">2</div>
				</div>

				<div class="window-lt">

					<div class="section-head">
						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Шаг 2:</b>
								</div>
							</li>

							<li class="flex-grow s-p2">
								<div class="text-field border-bottom">
									<b>Расчет на каждого участника</b>
								</div>
							</li>

							<li class="flex-shrink">
								<button class="btn solid" onclick="layoutControl.collapseAllBodiesView(this)">
									<i class="fas fa-angle-double-up"></i>
								</button>
							</li>
						</ul>

						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Всего вернуть:</b>
								</div>
							</li>

							<li class="flex-grow s-p1">
								<div class="number-field bold">
									<b>{{roundOff(getFullRefund())}}</b>
								</div>
							</li>

							<li class="s-p1">
								<div class="text-field title currency">
									<b>{{getAccountCurrency()}}</b>
								</div>
							</li>
						</ul>
					</div>

					<div class="section-body">
						<ul class="participants">

							<li class="participant"
								ng-repeat="extParticipant in account.participants track by $index"
								ng-init="extParticipantIndex = $index">
								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex-shrink s-p0">
											<div class="text-field solid title">
												<b>{{extParticipantIndex + 1}}.</b>
											</div>
										</li>

										<li class="flex-grow s-p0">
											<div class="text-field name solid">
												<b>{{extParticipant.meta.title}}</b>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<div class="number-input complex-input">
												<div class="text-field">
													<b>Коэфф.<br/>участия</b>
												</div>

												<label class="text-center">
													<input type="number" ng-model="extParticipant.meta.participation" onchange="uploadData()" />
													<b>{{extParticipant.meta.participation}}</b>
												</label>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<button class="btn solid border collapse-btn" onclick="layoutControl.toggleBodyView(this)">
												<i class="fas fa-chevron-down"></i>
											</button>
										</li>
									</ul>

									<ul class="flex s-p1">
										<li class="flex-grow">
											<div class="number-field solid marker text-left">
												<b>
													{{roundOff(getBalance(extParticipant))}}
													<s>Баланс ({{getAccountCurrency()}}):</s>
												</b>
											</div>
										</li>

										<li class="flex-grow">
											<div class="number-field solid marker">
												<b>
													{{roundOff(getParticipantShare(extParticipantIndex))}}
													<s>Доля ({{getAccountCurrency()}}):</s>
												</b>
											</div>
										</li>
									</ul>
								</div>

								<div class="participant-body">

									<ul class="body-view shares">

										<li class="share" ng-repeat="intParticipant in account.participants track by $index">
											<ul class="flex s-p0" ng-repeat="expense in intParticipant.expenses track by $index">
												<li class="s-p0">
													<label class="checkbox">
														<input type="checkbox"
															   ng-model="expense.partList[extParticipantIndex]"
															   ng-change="checkPartList(expense.partList, extParticipantIndex)"
															   onchange="uploadData()">
														<i></i>
													</label>
												</li>

												<li class="flex-grow flex-hidden s-p0">
													<div class="text-field">
														<b>
															{{expense.title}}
															<em>[от: {{intParticipant.meta.title}}]</em>
														</b>
													</div>
												</li>

												<li class="flex-grow s-p0 share-price">
													<div class="number-field">
														<b>{{roundOff(getExpenseShare(expense, extParticipantIndex))}}</b>
													</div>
												</li>
											</ul>
										</li>

									</ul>

								</div>
							</li>

						</ul>
					</div>

				</div>
			</li>

			<li class="right-lt step-3" ng-class="(layout.activeWindow == 3) ? 'active' : ''" ng-click="layout.activeWindow = 3">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">3. Возврат</div>
					<div class="s-p3">3</div>
				</div>

				<div class="window-lt">

					<div class="section-head">
						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Шаг 3:</b>
								</div>
							</li>

							<li class="flex-grow s-p2">
								<div class="text-field border-bottom">
									<b>Фиксация возвратов</b>
								</div>
							</li>

							<li class="flex-shrink">
								<button class="btn solid" onclick="layoutControl.collapseAllBodiesView(this)">
									<i class="fas fa-angle-double-up"></i>
								</button>
							</li>
						</ul>

						<div class="mode-toggle">
							<input type="checkbox" ng-model="account.settings.fixationDirectly">
							<i></i>
							<div>
								<b>Через общий банк</b>
							</div>
							<div>
								<b>Возвраты напрямую</b>
							</div>
						</div>

						<!-- Возвраты напрямую -->
						<div ng-if="account.settings.fixationDirectly">
							<ul class="flex flex-wrap">
								<li class="flex-shrink">
									<div class="text-field title thin">
										<b>Баланс возвратов:</b>
									</div>
								</li>

								<li class="flex-grow s-p1">
									<div class="number-field thin">
										<b>
											{{getReturnsBalance()}} <s>{{getAccountCurrency()}}</s>
										</b>
									</div>
								</li>
							</ul>
						</div>


						<!-- Через общий банк -->
						<div ng-if="!account.settings.fixationDirectly">
							<ul class="flex flex-wrap">
								<li class="flex-shrink">
									<div class="text-field title thin">
										<b>Баланс возвратов:</b>
									</div>
								</li>
							</span>
								<li class="flex-grow s-p1">
									<div class="number-field thin">
										<b>
											{{getReturnsBalance('byBank')}}
											<s>{{getAccountCurrency()}}</s>
										</b>
									</div>
								</li>
							</ul>

							<ul class="flex flex-wrap">
								<li class="flex-shrink">
									<div class="text-field title thin">
										<b>Общий банк:</b>
									</div>
								</li>

								<li class="flex-grow s-p1">
									<div class="number-field thin">
										<b>
											{{getAccountBank()}}
											<s>{{getAccountCurrency()}}</s>
										</b>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="section-body">

						<!-- Возвраты напрямую -->
						<ul class="participants" ng-if="account.settings.fixationDirectly">

							<li class="participant"
								ng-repeat="participant in account.participants track by $index"
								ng-class="{'debtor': participant.meta.fullBalance < 0, 'sponsor': participant.meta.fullBalance > 0}"
								ng-init="participantIndex = $index">

								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex flex-grow flex-wrap s-p0">
											<div class="text-field solid title">
												<b>{{participantIndex + 1}}.</b>
											</div>

											<div class="flex-grow text-field name solid s-p1">
												<b>{{participant.meta.title}}</b>
											</div>

											<div class="text-select complex-input" ng-if="participant.meta.fullBalance > 0">
												<div class="text-field">
													<b>получит</b>
												</div>

												<label class="currency">
													<select ng-model="participant.meta.preferredCurrency"
															ng-options="key as value for (key, value) in expCalc.settings.currencies.names"
															onchange="uploadData()">
													</select>
													<b>{{expCalc.settings.currencies.names[participant.meta.preferredCurrency].substring(0, 3)}}</b>
												</label>
											</div>
											<div class="text-field name solid" ng-if="participant.meta.fullBalance < 0">
												<b>вернет</b>
											</div>

											<div class="flex flex-grow">
												<div class="flex-grow number-field solid text-left uppercase"
													 ng-if="participant.meta.fullBalance >= 0 && participant.meta.preferredCurrency != account.settings.accountCurrency">
													<b>
														{{getParticipantFullBalance(participant, participantIndex, true)}}
														<s>{{expCalc.settings.currencies.names[participant.meta.preferredCurrency].substring(0, 3)}}</s>
													</b>
												</div>
												<div class="flex-grow number-field solid">
													<b>
														{{getParticipantFullBalance(participant, participantIndex, false)}}
														<s>{{getAccountCurrency()}}</s>
													</b>
												</div>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<button class="btn solid border collapse-btn" onclick="layoutControl.toggleBodyView(this)">
												<i class="fas fa-chevron-down"></i>
											</button>
										</li>
									</ul>
								</div>

								<div class="participant-body">

									<div class="body-view" >
										<div class="text-field name thin s-p1">
											<b>Сделал взносы участникам:</b>
										</div>

										<ul class="payments">
											<li ng-repeat="refund in participant.fixation.whom track by $index"
												ng-init="refundIndex = $index">

												<ul class="flex s-p0">
													<li class="flex-shrink s-p0" ng-if="!refund.isFixed">
														<button class="btn solid warning" title="Удалить этот взнос"
																ng-click="removePayment(participant, refundIndex)">
															<i class="fas fa-trash-alt"></i>
														</button>
													</li>

													<li class="flex-shrink s-p0" ng-if="refund.isFixed">
														<div class="date-field">
															<b>{{formatDate(refund.date, 1)}}</b>
															<b>{{formatDate(refund.date, 2)}}</b>
															<b>{{formatDate(refund.date, 3)}}</b>
														</div>
													</li>

													<li class="flex-grow flex-hidden s-p0 selected-participant">
														<label class="text-select" ng-disabled="refund.isFixed">
															<select	ng-model="refund.number"
																	ng-change="fillRefundFields(participant, refund)">
																<option value="" hidden disabled selected>Выберите участника</option>

																<option ng-repeat="sponsor in account.participants track by $index"
																		value="{{$index}}" ng-if="participantIndex != $index">
																	{{getParticipantOption(sponsor, participant)}}
																</option>
															</select>
															<b>{{(refund.number) ? account.participants[refund.number].meta.title : 'Выберите участника' }}</b>
														</label>
													</li>

													<li class="s-p0">
														<div class="multiple-field">
															<label class="text-select currency" ng-disabled="refund.isFixed">
																<select ng-model="refund.currency">
																	<option value="" hidden disabled selected>---</option>
																	<option ng-repeat="currency in expCalc.settings.currencies.names track by $index"
																			value="{{$index}}">
																		{{currency}}
																	</option>
																</select>
																<b>{{(refund.currency != null) ? expCalc.settings.currencies.names[refund.currency].substring(0, 3) : '???'}}</b>
															</label>

															<label class="number-input" ng-disabled="refund.isFixed">
																<input type="number" ng-model="refund.value">
																<b>{{refund.value}}</b>
															</label>
														</div>
													</li>

													<li class="flex-shrink s-p0">
														<label class="checkbox">
															<input type="checkbox" ng-model="refund.isFixed"
																   ng-change="checkRefundFields(refund)" />
															<i></i>
														</label>
													</li>
												</ul>

											</li>

											<li ng-if="isAllRefundsFixed(participant)">
												<ul class="flex s-p0">
													<li class="flex-shrink s-p0">
														<button class="btn solid success" title="Сделать новый взнос"
																ng-click="addNewPayment(participant)">
															<i class="fas fa-plus"></i>
														</button>
													</li>

													<li class="flex-grow flex-hidden s-p0">
														<div class="text-field name">
															<b>Сделать новый взнос</b>
														</div>
													</li>
												</ul>
											</li>
										</ul>

									</div>

								</div>
							</li>
						</ul>



						<!-- Через общий банк -->
						<ul class="participants" ng-if="!account.settings.fixationDirectly">
							<li class="participant"
								ng-repeat="participant in account.participants track by $index"
								ng-class="{'debtor': participant.meta.fullBalanceByBank < 0, 'sponsor': participant.meta.fullBalanceByBank > 0}"
								ng-init="participantIndex = $index">

								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex flex-grow flex-wrap s-p0">
											<div class="text-field solid title">
												<b>{{participantIndex + 1}}.</b>
											</div>

											<div class="flex-grow text-field name solid s-p1">
												<b>{{participant.meta.title}}</b>
											</div>

											<div class="flex-grow number-field solid marker">
												<b>
													{{getParticipantFullBalanceByBank(participant)}}
													<s>
														<span ng-if="participant.meta.fullBalanceByBank != 0">
															{{participant.meta.fullBalanceByBank >= 0 ? 'Получит' : 'Вернет:'}}
														</span> ({{getAccountCurrency()}}):
													</s>
												</b>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<button class="btn solid border collapse-btn" onclick="layoutControl.toggleBodyView(this)">
												<i class="fas fa-chevron-down"></i>
											</button>
										</li>
									</ul>
								</div>

								<div class="participant-body">

									<div class="body-view">
										<ul class="payments to-bank">

											<li ng-repeat="byBankObject in participant.fixation.byBank track by $index"
												ng-init="byBankObjectIndex = $index">

												<ul class="flex s-p0">
													<li class="flex-shrink s-p0" ng-if="!byBankObject.isFixed">
														<button class="btn solid warning" title="Удалить это действие"
																ng-click="removePaymentByBank(participant, byBankObjectIndex)">
															<i class="fas fa-trash-alt"></i>
														</button>
													</li>

													<li class="flex-shrink s-p0" ng-if="byBankObject.isFixed">
														<div class="date-field">
															<b>{{formatDate(byBankObject.date, 1)}}</b>
															<b>{{formatDate(byBankObject.date, 2)}}</b>
															<b>{{formatDate(byBankObject.date, 3)}}</b>
														</div>
													</li>

													<li class="flex-grow s-p0">
														<div class="text-field name">
															<b ng-if="byBankObject.token < 0">Отдал</b>
															<b ng-if="byBankObject.token > 0">Получил</b>
														</div>
													</li>

													<li class="flex-grow s-p0">
														<div class="multiple-field">
															<label class="text-select currency" disabled>
																<select></select>
																<b>{{getAccountCurrency()}}</b>
															</label>

															<label class="number-input" ng-disabled="byBankObject.isFixed">
																<input type="number" ng-model="byBankObject.value">
																<b>{{byBankObject.value}}</b>
															</label>
														</div>
													</li>

													<li class="flex-shrink s-p0">
														<label class="checkbox">
															<input type="checkbox" ng-model="byBankObject.isFixed"
																   ng-change="checkPaymentByBank(byBankObject)">
															<i></i>
														</label>
													</li>
												</ul>

											</li>

											<li>

												<ul class="flex s-p0">
													<li class="flex-shrink s-p0">
														<button class="btn solid success" title="Получить деньги из банка"
																ng-click="addNewPaymentByBank(participant, 1)">
															<i class="fas fa-hand-holding-usd"></i>
															<b class="small">Получить</b>
														</button>
													</li>

													<li class="flex-shrink s-p0">
														<button class="btn solid success" title="Отдать деньги в банк"
																ng-click="addNewPaymentByBank(participant, -1)">
															<i class="fas fa-dollar-sign"></i>
															<b class="small">Отдать</b>
														</button>
													</li>
												</ul>

											</li>
										</ul>
									</div>

								</div>
							</li>
						</ul>
					</div>

				</div>
			</li>
		</ul>
	</div>



	<div class="print-view-lt"
		 ng-if="expCalc.settings.currentAccount == $index"
		 ng-repeat="account in expCalc.accounts track by $index">

		<table class="currencies" ng-init="currencies = expCalc.settings.currencies">
			<thead>
			<tr>
				<th> </th>
				<th colspan="100">Курс, по которому покупается указанная валюта</th>
			</tr>
			<tr>
				<th>Основная валюта</th>
				<th ng-repeat="name in currencies.names track by $index">
					{{currencies.names[$index]}}
				</th>
			</tr>
			</thead>

			<tbody>
			<tr ng-repeat="name in expCalc.settings.currencies.names track by $index" ng-init="nameIndex = $index">
				<td>
					{{expCalc.settings.currencies.names[$index]}}
				</td>
				<td ng-repeat="array in currencies.rates[nameIndex] track by $index">
					{{currencies.rates[nameIndex][$index]}}
				</td>
			</tr>
			</tbody>
		</table>

		<table class="expenses-table">
			<thead>
			<tr>
				<th colspan="4" class="border-right"></th>

				<th ng-repeat="participant in account.participants track by $index">
					{{participant.meta.title}}<br/>(Участие {{participant.meta.participation * 100}}%)
				</th>
			</tr>
			</thead>

			<tbody>
			<tr>
				<td class="font-weight-bold">Расходы</td>
				<td class="font-weight-bold">Тип</td>
				<td class="font-weight-bold">Дата</td>
				<td class="font-weight-bold border-right">Сумма</td>
				<td colspan="100" class="font-weight-bold">Доля участника в каждом расходе</td>
			</tr>
			</tbody>

			<tbody ng-repeat="participant in account.participants track by $index"
				   ng-init="extParticipantIndex = $index">
			<tr>
				<td colspan="3" class="font-weight-bold">{{participant.meta.title}}</td>
				<td class="border-right">Все расходы:
					<span class="nowrap font-weight-bold">{{roundOff(participant.meta.total)}} {{getAccountCurrency()}}</span>
				</td>

				<td ng-repeat="extParticipant in account.participants track by $index"> </td>
			</tr>

			<tr ng-repeat="expense in participant.expenses track by $index">
				<td>
					<span class="float-left">{{$index + 1}}.</span>
					{{expense.title}}
				</td>
				<td><span class="small">{{expCalc.settings.expensesTypes[expense.type].name}}</span></td>
				<td><span class="small">{{formatDate(expense.date)}}</span></td>
				<td class="border-right"><span class="nowrap">{{expense.value}} {{expCalc.settings.currencies.names[expense.currency].toUpperCase()}}</span></td>

				<td ng-repeat="extParticipant in account.participants track by $index"
					ng-init="extParticipantIndex = $index">
				<span class="nowrap">
					{{roundOff(getExpenseShare(expense, extParticipantIndex))}}
					<span ng-if="roundOff(getExpenseShare(expense, extParticipantIndex)) != 0">{{getAccountCurrency()}}</span>
				</span>
				</td>
			</tr>

			</tbody>

			<tbody>
			<tr>
				<td colspan="3"></td>
				<td class="font-weight-bold border-right">Всех расходов: <span class="nowrap">{{roundOff(getAccountTotal())}} {{getAccountCurrency()}}</span></td>

				<td ng-repeat="participant in account.participants track by $index"
					ng-init="participantIndex = $index">
					Всего:
					<span class="nowrap font-weight-bold">{{roundOff(getParticipantShare(participantIndex))}} {{getAccountCurrency()}}</span>
				</td>
			</tr>
			</tbody>

			<thead><tr><th colspan="100"><hr/></th><tr></thead>

			<tbody>
			<tr>
				<td colspan="4" class="font-weight-bold text-right border-right">Расходы по типам:</td>
				<td colspan="100"></td>
			</tr>
			<tr ng-repeat="expensesType in expCalc.settings.expensesTypes track by $index"
				ng-init="typeIndex = $index">
				<td colspan="4" class="text-right border-right">{{expensesType.name}}</td>

				<td ng-repeat="participant in account.participants track by $index">
					<span class="nowrap">{{participant.meta.expensesByTypes[typeIndex]}} {{getAccountCurrency()}}</span>
				</td>
			</tr>
			</tbody>

			<thead><tr><th colspan="100"><hr/></th><tr></thead>

			<tbody>
			<tr>
				<td colspan="4" class="font-weight-bold text-right border-right">
					Взносы
					<span ng-if="account.settings.fixationDirectly">от участника -> участнику</span>
					<span ng-if="!account.settings.fixationDirectly">через общий банк</span>
					:
				</td>
				<td colspan="100">
				<span class="font-weight-bold" ng-if="!account.settings.fixationDirectly">
					В общем банке: {{account.meta.bank}} {{getAccountCurrency()}}
				</span>
				</td>
			</tr>
			</tbody>

			<tbody ng-repeat="participant in account.participants track by $index"
				   ng-if="account.settings.fixationDirectly">
			<tr ng-repeat="whom in participant.fixation.whom track by $index">
				<td colspan="2"></td>
				<td><span class="small">{{formatDate(whom.date)}}</span></td>
				<td class="border-right">{{participant.meta.title}} -></td>

				<td ng-repeat="participant in account.participants track by $index">
				<span class="nowrap" ng-if="whom.number == $index">
					{{whom.value}} {{expCalc.settings.currencies.names[whom.currency].toUpperCase()}}
				</span>
				</td>
			</tr>
			</tbody>

			<tbody ng-repeat="participant in account.participants track by $index"
				   ng-init="participantIndex = $index"
				   ng-if="!account.settings.fixationDirectly">
			<tr ng-repeat="byBank in participant.fixation.byBank track by $index">
				<td colspan="2"></td>
				<td><span class="small">{{formatDate(byBank.date)}}</span></td>
				<td class="border-right">
					<span ng-if="byBank.token > 0">Получил</span>
					<span ng-if="byBank.token < 0">Вернул</span>
				</td>

				<td ng-repeat="participant in account.participants track by $index">
				<span class="nowrap" ng-if="participantIndex == $index">
					<span ng-if="byBank.token > 0">+</span>
					<span ng-if="byBank.token < 0">-</span>
					{{byBank.value}} {{getAccountCurrency()}}
				</span>
				</td>
			</tr>
			</tbody>

			<tbody>
			<tr>
				<td colspan="4" class="border-right"></td>
				<td colspan="100" class="font-weight-bold"><hr/>Окончательный расчет<hr/></td>
			</tr>
			<tr ng-if="account.settings.fixationDirectly">
				<td colspan="4" class="border-right"></td>

				<td class="font-weight-bold" ng-repeat="participant in account.participants track by $index">
					<div ng-if="participant.meta.fullBalance > 0">Получить</div>
					<div ng-if="participant.meta.fullBalance < 0">Вернуть</div>
					<span class="nowrap" style="font-size: 1.5rem">
					<span ng-if="participant.meta.fullBalance > 0">+</span>{{participant.meta.fullBalance}} {{getAccountCurrency()}}
				</span>
				</td>
			</tr>
			<tr ng-if="!account.settings.fixationDirectly">
				<td colspan="4" class="border-right"></td>

				<td class="font-weight-bold" ng-repeat="participant in account.participants track by $index">
					<div ng-if="participant.meta.fullBalanceByBank > 0">Получить</div>
					<div ng-if="participant.meta.fullBalanceByBank < 0">Вернуть</div>
					<span class="nowrap" style="font-size: 1.5rem">
					<span ng-if="participant.meta.fullBalanceByBank > 0">+</span>{{participant.meta.fullBalanceByBank}} {{getAccountCurrency()}}
				</span>
				</td>
			</tr>
			</tbody>
		</table>


	</div>

</main>