<!--<header id="header">-->

	<!--<div class="head">-->
		<!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->

		<!--<div class="status-line"></div>-->
	<!--</div>-->

	<!--<iframe src="about:blank" id="headerIframe" class="ghost">It needs to control a height of the header</iframe>-->
<!--</header>-->

<header>

	<ul class="head flex center-align">
		<li></li>
		<li class="title flex-grow">
			<h1>Cost panel</h1>
			<h2>Название расчета</h2>
		</li>
		<li class="separator">
			<button class="btn solid" title="Сохранить на сервере под текущим аккаунтом">
				<b class="status-line">ВР</b>
				<i class="fas fa-save"></i>
			</button>
		</li>
		<li class="separator">
			<button class="btn solid" title="Меню" ng-click="layout.isOpenMenu = true">
				<i class="fas fa-bars"></i>
			</button>
		</li>
	</ul>

</header>

<nav>
	<ul class="nav-head flex">
		<li>
			Photo
		</li>
		<li class="flex-grow">
			Владислав Стасевич
		</li>
		<li>
			<button class="btn solid" title="Меню" ng-click="layout.isOpenMenu = false">
				<i class="fas fa-window-close"></i>
			</button>
		</li>
	</ul>

	<div id="navBody" class="nav-body">

		<ul class="section open" data-level="1">
			<li class="section-title">
				<button class="btn" data-previous title="Меню">
					<i class="fas fa-bars"></i>
				</button>
				Главное меню
			</li>

			<li>
				<button class="btn solid" data-next>
					<b>Пункт меню</b>
				</button>
			</li>

			<li>
				<button class="btn solid" data-next title="Авторизация">
					<i class="fas fa-user-circle"></i>
					<b>Авторизация</b>
				</button>

				<ul class="section" data-level="2">
					<li class="section-title">
						<button class="btn" data-previous title="Авторизация">
							<i class="fas fa-user-circle"></i>
						</button>
						Авторизация
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-user-secret"></i>
							<b>Something else</b>
						</button>

						<ul class="section" data-level="3">
							<li class="section-title">
								<button class="btn" data-previous title="Something else">
									<i class="fas fa-user-secret"></i>
								</button>
								Something else
							</li>

							<li>
								<button class="btn solid" data-next>
									<i class="fas fa-user-secret"></i>
									<b>Settings list</b>
								</button>

								<div class="section" data-level="4">
									<div class="section-title">

									</div>

									<div class="section-body">
										<ul class="settings-list">
											<li></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-sign-in-alt"></i>
							<b>Войти</b>
						</button>

						<div class="section" data-level="3">
							<div class="section-title">

							</div>

							<div class="section-body">

							</div>
						</div>
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-user-plus"></i>
							<b>Регистрация</b>
						</button>

						<div class="section" data-level="3">
							<div class="section-title">

							</div>

							<div class="section-body">

							</div>
						</div>
					</li>
				</ul>
			</li>

			<li>
				<button class="btn solid" data-next>
					<b>Пункт меню</b>
				</button>
			</li>
		</ul>

	</div>
</nav>

<main>

	We have to use iframe in the header!
	<br/>
	Configuring Apache<br/>
	To configure Apache to send the X-Frame-Options header for all pages, add this to your site's configuration:<br/>
	Header always set X-Frame-Options DENY<br/><br/>


	What is Lorem Ipsum?
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</main>

<footer>

</footer>