<header>

	<ul class="head flex">
		<li>
			<button class="btn solid" title="Меню" ng-click="layout.isOpenMenu = true">
				<i class="fas fa-bars"></i>
				<b class="no-mobile">Меню</b>
			</button>
		</li>
		<li class="title flex-grow separator">
			<h1>Cost panel</h1>
			<h2>Название расчета</h2>
		</li>
		<li class="separator">
			<button class="btn solid" disabled title="Все изменения сохранены">
				<b class="status-line">ВС</b>
				<i class="fas fa-save no-mobile"></i>
			</button>
		</li>
		<li class="separator">
			<button class="btn solid" title="Все расчеты" ng-click="layout.openAside()">
				<i class="fas fa-ellipsis-v"></i>
				<b class="no-mobile">Расчеты</b>
			</button>
		</li>
	</ul>

</header>

<nav>
	<ul class="nav-head flex">
		<li class="photo">

		</li>
		<li class="flex-grow">
			<div class="text-field name solid">
				<b>Владислав Стасевич</b>
			</div>
		</li>
		<li>
			<button class="btn solid" title="Меню" ng-click="layout.isOpenMenu = false">
				<i class="fas fa-window-close"></i>
			</button>
		</li>
	</ul>

	<div id="navBody" class="nav-body">

		<ul class="section open active" data-level="1">
			<li class="section-title">
				<button class="btn" data-previous title="Меню">
					<i class="fas fa-bars"></i>
				</button>
				<div class="text-field title"><b>Главное меню</b></div>
			</li>

			<li>
				<button class="btn solid" data-next>
					<b>Пункт меню</b>
				</button>
			</li>

			<li>
				<button class="btn solid" data-next title="Авторизация">
					<i class="fas fa-user-circle"></i>
					<b>Авторизация</b>
				</button>

				<ul class="section" data-level="2">
					<li class="section-title">
						<button class="btn" data-previous title="Авторизация">
							<i class="fas fa-user-circle"></i>
						</button>
						<div class="text-field title"><b>Авторизация</b></div>
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-user-secret"></i>
							<b>Something else</b>
						</button>

						<ul class="section" data-level="3">
							<li class="section-title">
								<button class="btn" data-previous title="Something else">
									<i class="fas fa-user-secret"></i>
								</button>
								<div class="text-field title"><b>Something else</b></div>
							</li>

							<li>
								<button class="btn solid" data-next>
									<i class="fas fa-user-secret"></i>
									<b>Settings list</b>
								</button>

								<div class="section" data-level="4">
									<div class="section-title">

									</div>

									<div class="section-body">
										<ul class="settings-list">
											<li></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-sign-in-alt"></i>
							<b>Войти</b>
						</button>

						<div class="section" data-level="3">
							<div class="section-title">

							</div>

							<div class="section-body">

							</div>
						</div>
					</li>

					<li>
						<button class="btn solid" data-next>
							<i class="fas fa-user-plus"></i>
							<b>Регистрация</b>
						</button>

						<div class="section" data-level="3">
							<div class="section-title">

							</div>

							<div class="section-body">

							</div>
						</div>
					</li>
				</ul>
			</li>

			<li>
				<button class="btn solid" data-next>
					<b>Пункт меню</b>
				</button>
			</li>
		</ul>

	</div>
</nav>

<aside ng-class="{'edit-mode': layout.isEditAccountsMode}">
	<ul class="aside-head flex">
		<li class="s-p2">
			<label class="toggle">
				<input type="checkbox" ng-model="layout.isEditAccountsMode">
				<i></i>
			</label>
		</li>

		<li class="flex-grow">
			<div class="text-field bold">
				<b>Режим редактирования</b>
			</div>
		</li>
	</ul>

	<div class="aside-body">

		<ul>
			<li class="account flex active">
				<div>
					<button class="btn solid edit-mode">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>

				<div class="flex-grow">
					<button class="btn solid view-mode">
						<b>Название расчета</b>
					</button>

					<label class="text-input edit-mode">
						<input type="text" value="Tекст ДублированныйтекстДублированный текст">
						<b>Tекст ДублированныйтекстДублированный текст</b>
					</label>
				</div>
			</li>

			<li class="account flex">
				<div>
					<button class="btn solid edit-mode">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>

				<div class="flex-grow">
					<button class="btn solid view-mode">
						<b>Название расчета</b>
					</button>

					<label class="text-input edit-mode">
						<input type="text" value="Tекст ДублированныйтекстДублированный текст">
						<b>Tекст ДублированныйтекстДублированный текст</b>
					</label>
				</div>
			</li>

			<li class="account flex">
				<div>
					<button class="btn solid edit-mode">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>

				<div class="flex-grow">
					<button class="btn solid view-mode">
						<b>Название расчета</b>
					</button>

					<label class="text-input edit-mode">
						<input type="text" value="Tекст ДублированныйтекстДублированный текст">
						<b>Tекст ДублированныйтекстДублированный текст</b>
					</label>
				</div>
			</li>


			<li class="account edit-mode flex">
				<div>
					<button class="btn">
						<i class="fas fa-plus"></i>
					</button>
				</div>

				<div class="flex-grow s-p1">
					<div class="text-field solid">
						<b>Создать новый расчет</b>
					</div>
				</div>
			</li>
		</ul>

	</div>
</aside>

<main ng-click="layout.isOpenMenu = false; layout.isOpenAside = false;">

	<div class="three-window-lt" data-active-window="{{layout.activeWindow}}">
		<div class="header-lt">
			<ul class="flex">
				<li>
					<button class="btn solid" ng-click="layout.activeWindow = 1">
						<b>1.</b>
						<i class="fas fa-list only-middle-mobile"></i>
						<b class="small no-middle-mobile">Список</b>
					</button>
				</li>

				<li>
					<button class="btn solid" ng-click="layout.activeWindow = 2">
						<b>2.</b>
						<i class="fas fa-calculator only-middle-mobile"></i>
						<b class="small no-middle-mobile">Вычисление</b>
					</button>
				</li>

				<li>
					<button class="btn solid" ng-click="layout.activeWindow = 3">
						<b>3.</b>
						<i class="fas fa-exchange-alt only-middle-mobile"></i>
						<b class="small no-middle-mobile">Возврат</b>
					</button>
				</li>
			</ul>
		</div>

		<ul class="windows-lt">
			<li class="left-lt" ng-class="(layout.activeWindow == 1) ? 'active' : ''" ng-click="layout.activeWindow = 1">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">1. Список</div>
					<div class="s-p3">1</div>
				</div>

				<div class="window-lt">

					<div class="section-head">
						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Шаг 1:</b>
								</div>
							</li>

							<li class="flex-grow s-p2">
								<div class="text-field border-bottom">
									<b>Список участников и расходов</b>
								</div>
							</li>

							<li class="flex-shrink s-p1">
								<button class="btn solid">
									<i class="fas fa-user-edit"></i>
								</button>
							</li>

							<li class="flex-shrink">
								<button class="btn solid">
									<i class="fas fa-angle-double-down"></i>
								</button>
							</li>
						</ul>

						<ul class="flex">
							<li class="flex-shrink">
								<div class="text-field title">
									<b>Всего расходов:</b>
								</div>
							</li>

							<li class="flex-grow s-p1">
								<div class="number-field bold">
									<b>12 450 340,34</b>
								</div>
							</li>

							<li class="s-p1">
								<div class="text-field title currency">
									<b>byn</b>
								</div>
							</li>
						</ul>
					</div>

					<div class="section-body">

						<ul class="participants">
							<li>
								<div class="participant-head">
									<ul class="flex s-p0">
										<li class="flex-shrink s-p0">
											<button class="btn solid border">
												<i class="fas fa-trash-alt"></i>
												<b>1.</b>
											</button>
										</li>

										<li class="flex-grow s-p0">
											<label class="text-input">
												<input type="text" value="Tекст ДублированныйтекстДублированный текст">
												<b>Tекст ДублированныйтекстДублированный текст</b>
											</label>
										</li>

										<li class="flex-shrink s-p0">
											<div class="number-field solid">
												<b>12 450 340,34 <s>BYN</s></b>
											</div>
										</li>

										<li class="flex-shrink s-p0">
											<button class="btn solid border">
												<i class="fas fa-chevron-down"></i>
											</button>
										</li>
									</ul>
								</div>

								<div class="participant-body">

									<ul class="expenses-group">

										<li class="s-p0">

											<ul class="group-header flex">
												<li class="s-p0">
													<div class="text-field title hidden">
														<b>1.1</b>
													</div>

													<button class="btn solid" title="Меню">
														<i class="fas fa-trash-alt"></i>
														<b>1.1</b>
													</button>
												</li>

												<li class="flex-grow s-p0">
													<label class="text-input bold block">
														<input type="text" value="Название группы расчетов">
														<b>Название группы расчетов</b>
													</label>
												</li>

												<li class="s-p0">
													<button class="btn solid">
														<i class="fas fa-chevron-down"></i>
													</button>
												</li>
											</ul>

											<ul class="expenses">
												<li class="expense">

													<ul class="expense-data flex">
														<li class="flex-shrink s-p0">
															<div class="text-field title hidden">
																<b>1.1.1</b>
															</div>
															<button class="btn solid" title="Меню">
																<i class="fas fa-trash-alt"></i>
																<b>1.1.1</b>
															</button>
														</li>

														<li class="expense-name flex-grow s-p0">
															<label class="text-input">
																<input type="text" value="Tекст ДублированныйтекстДублированный текст">
																<b>Tекст ДублированныйтекстДублированный текст</b>
															</label>
														</li>

														<li class="flex-shrink s-p0">
															<label class="text-select icons">
																<select>
																	<option disabled>&#xf207 - Машина</option>
																	<option selected>&#xf207 - Другие незначительные расходы</option>
																	<option>&#xf4ff - Питание</option>
																</select>
																<b>
																	<i class="fas fa-bus"></i>
																</b>
															</label>
														</li>
													</ul>

													<ul class="expense-data flex">
														<li class="s-p0">
															<div class="text-field">
																<b>31.01.2018, 6:50:30</b>
															</div>
														</li>

														<li class="flex-shrink s-p0">
															<label class="text-select currency">
																<select>
																	<option disabled="">EUR - евро</option>
																	<option selected="">BYN - белорусский рубль</option>
																	<option>USD - доллар</option>
																</select>
																<b>BYN</b>
															</label>
														</li>

														<li class="flex-grow s-p0">
															<label class="number-input">
																<input type="number" value="12450340.34">
																<b>12 450 340,34</b>
															</label>
														</li>

														<li class="flex-shrink s-p0">
															<label class="checkbox">
																<input type="checkbox">
																<i></i>
															</label>
														</li>

													</ul>

												</li>

												<li class="expense">

													<ul class="expense-data flex">
														<li class="flex-shrink s-p0">
															<div class="text-field title hidden">
																<b>1.1.1</b>
															</div>
															<button class="btn solid" title="Меню">
																<i class="fas fa-trash-alt"></i>
																<b>1.1.1</b>
															</button>
														</li>

														<li class="expense-name flex-grow s-p0">
															<label class="text-input">
																<input type="text" value="Tекст ДублированныйтекстДублированный текст">
																<b>Tекст ДублированныйтекстДублированный текст</b>
															</label>
														</li>

														<li class="flex-shrink s-p0">
															<label class="text-select icons">
																<select>
																	<option disabled>&#xf207 - Машина</option>
																	<option selected>&#xf207 - Другие незначительные расходы</option>
																	<option>&#xf4ff - Питание</option>
																</select>
																<b>
																	<i class="fas fa-bus"></i>
																</b>
															</label>
														</li>
													</ul>

													<ul class="expense-data flex">
														<li class="s-p0">
															<div class="text-field">
																<b>31.01.2018, 6:50:30</b>
															</div>
														</li>

														<li class="flex-shrink s-p0">
															<label class="text-select currency">
																<select>
																	<option disabled="">EUR - евро</option>
																	<option selected="">BYN - белорусский рубль</option>
																	<option>USD - доллар</option>
																</select>
																<b>BYN</b>
															</label>
														</li>

														<li class="flex-grow s-p0">
															<label class="number-input">
																<input type="number" value="12450340.34">
																<b>12 450 340,34</b>
															</label>
														</li>

														<li class="flex-shrink s-p0">
															<label class="checkbox">
																<input type="checkbox">
																<i></i>
															</label>
														</li>

													</ul>

												</li>
											</ul>


										</li>



									</ul>

								</div>
							</li>
						</ul>

					</div>

				</div>
			</li>

			<li class="center-lt" ng-class="(layout.activeWindow == 2) ? 'active' : ''" ng-click="layout.activeWindow = 2">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">2. Вычисление</div>
					<div class="s-p3">2</div>
				</div>

				<div class="window-lt">
					<br/><br/><br/><input type="text"/>
					<button>button</button>
				</div>
			</li>

			<li class="right-lt" ng-class="(layout.activeWindow == 3) ? 'active' : ''" ng-click="layout.activeWindow = 3">
				<div class="title-lt flex">
					<div class="flex-grow s-p3">3. Возврат</div>
					<div class="s-p3">3</div>
				</div>

				<div class="window-lt">
					<br/><br/><br/><input type="text"/>
					<button>button</button>
				</div>
			</li>
		</ul>
	</div>

</main>

</main>

<footer>

</footer>