<div class="side" ng-class="{inactive : activeItem === 0}">
	<a href class="dir" ng-click="selectPage(activeItem - 1)" title="Previous page">
		<i class="icon-arrow-left"></i>
	</a>
</div>
<div>
	<ul class="flex-cont pages-choice">
		<li ng-repeat="pageNum in pageNumArray track by $index" ng-class="{'active animated bounceIn' : activeItem === $index}">
			<a href ng-click="selectPage($index)" title="Page #{{$index + 1}}">
				{{$index + 1}}
			</a>
		</li>
	</ul>
</div>
<div class="side" ng-class="{inactive : activeItem === pageNumArray.length - 1}">
	<a href class="dir" ng-click="selectPage(activeItem + 1)" title="Next page">
		<i class="icon-arrow-right"></i>
	</a>
</div>