<article>
	<h1>What is that?</h1>

	<p>
		A bulletin board (pinboard, pin board, noticeboard, or notice board in British English) is a surface intended
		for the posting of public messages, for example, to advertise items wanted or for sale, announce events, or
		provide information. Bulletin boards are often made of a material such as cork to facilitate addition and
		removal of messages, or they can be placed on computer networks so people can leave and erase messages for other
		people to read and see.
	</p>
</article>